= render 'header-no-news'
.gallery_index
  .gallery_title
    = image_tag "Gallery/tegakiflower.png", alt: "手書き花", class: "tegakiflower"
    = image_tag "Menu/Gallery.png", alt: "ギャラリー", class: "gallery_logo"
  .gallery_container
    .gallery_list
      = image_tag "Gallery/piasu-1.png", alt: "ピアス1", class: "gallery_pic"
      = image_tag "Gallery/piasu-2.png", alt: "ピアス2", class: "gallery_pic"
      = image_tag "Gallery/piasu-3.png", alt: "ピアス3", class: "gallery_pic" 
    .gallery_list       
      = image_tag "Gallery/waku.png", alt: "ピアス", class: "gallery_pic"
      = image_tag "Gallery/waku.png", alt: "ピアス", class: "gallery_pic"
      = image_tag "Gallery/waku.png", alt: "ピアス", class: "gallery_pic"  
    .gallery_list
    .gallery_list
    .gallery_list